repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    - id: fmt
    - id: clippy
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
    - id: cargo-sort
