[package]
name = "dilbert-viewer"
version = "0.2.0"
edition = "2021"
description = "Simple viewer webpage for Dilbert by Scott Adams"
readme = "README.md"
repository = "https://github.com/rharish101/dilbert-viewer"
license = "AGPL-3.0-or-later"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-files = "0.6.0"
actix-web = "4.0.1"
askama = "0.11.0"
async-trait = "0.1.52"
chrono = "0.4.19"
deadpool-postgres = "0.10.1"
futures = "0.3.19"
html-escape = "0.2.9"
itertools = "0.10.3"
log = "0.4.14"
native-tls = "0.2.8"
postgres-native-tls = "0.5.0"
pretty_env_logger = "0.4.0"
rand = "0.8.4"
regex = "1.5.5"
reqwest = "0.11.9"
tokio = { version = "1.15.0", features = ["rt", "sync"] }
tokio-postgres = { version = "0.7.5", features = ["with-chrono-0_4"] }
