{#
SPDX-FileCopyrightText: 2022 Harish Rajagopal <harish.rajagopals@gmail.com>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#" class="w-100 h-100">

<head>
  <title>{% block title %}{% endblock %} - Dilbert Viewer</title>
  <meta charset="utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <link rel="icon" type="image/png" href="https://dilbert.com/assets/packs/images/favicon/favicon-96x96-a0f26560c9b6b16718286105ece26211.png" sizes="96x96" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="dilbert, dilbert comic strip, dilbert comic viewer, comics, web comics" />
  {% block head %}{% endblock %}
</head>

<body class="d-flex flex-column justify-content-between align-items-center text-center m-0">
  <!-- Dummy element to take up the top position -->
  <header></header>

  <!-- Element that contains the main content -->
  <main class="w-100 d-flex flex-column align-items-center p-1">
    {% block content %}{% endblock %}
  </main>

  <!-- Miscellaneous links -->
  <footer class="w-100 d-flex flex-row justify-content-center navbar bg-dark fs-6">
    <!-- Link to the GitHub repo -->
    <a href="{{ repo_url }}" target="_blank" rel="noreferrer" role="button" class="nav-link link-light" aria-label="Link to the source code">Source Code</a>
  </footer>
</body>

</html>
