{#
SPDX-FileCopyrightText: 2022 Harish Rajagopal <harish.rajagopals@gmail.com>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block title %}Internal Error{% endblock %}

{% block head %}
  <meta name="description" content="A simple comic viewer for Dilbert by Scott Adams." />
{% endblock %}

{% block content %}
  <h1 class="display-3 m-2">Internal Error</h1>

  <!-- Try the obvious first :P -->
  <p class="lead m-1 mb-4">
    Try refreshing the page.
    If it doesn't work, try a while later.
  </p>

  <!-- Message for reporting issues -->
  <p class="m-1">
    If you see this message often, you can report an issue by
    <a href="{{ repo_url }}/issues" target="_blank" rel="noreferrer">clicking here</a>.
    Please check for existing issues before reporting them.
  </p>

  <!-- Display the error message -->
  <div class="card text-start text-white bg-secondary m-4 mw-100">
    <div class="card-header">Error message</div>
    <pre class="card-body" aria-label="Error message">{{ error }}</pre>
  </div>
{% endblock %}
