{#
SPDX-FileCopyrightText: 2022 Harish Rajagopal <harish.rajagopals@gmail.com>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block title %}Not Found{% endblock %}

{% block head %}
  <meta name="description" content="A simple comic viewer for Dilbert by Scott Adams." />
{% endblock %}

{% block content %}
  <h1 class="display-3 m-2">404</h1>

  <!-- Use a specific error message for a comic, if available -->
  <p class="lead m-1 mb-4">
    {% match date %}
      {% when Some with (date) %}
        Comic for {{ date }} not found
      {% when None %}
        Invalid URL
    {% endmatch %}
  </p>

  <!-- Redirect users to homepage -->
  <p class="m-1 mb-4">
    <a href="/">Click here</a> to go to the homepage.
  </p>
{% endblock %}
